{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container page-top-margin"> 
    <div class="row">
        <div class="col-12 mt-3">
            {% if not hide_image %}
                <h3 class="font-weight-bold mt-3">My Reviews</h3>
            {% else %}
                <h3 class="font-weight-bold mt-3">Album Reviews</h3>
                <h4>{{ product.artist.friendly_name }}: {{ product.album_title }}</h4>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black"> 
                        <tr>
                            {% if not hide_image %}
                                <th scope="col">Album</th>
                            {% endif %}
                            <th scope="col" class="d-none d-md-table-cell">Review Details</th>
                        </tr>
                    </thead>
                    {% for review in reviews %}
                    <tr>
                        {% if not hide_image %}
                        <td class="p-3 w-25 d-none d-md-table-cell">
                            {% if review.product.image %}
                                <a href="{% url 'product_detail' review.product.id %}">
                                    <img class="img-fluid rounded img_wishlist" src="{{ review.product.image.url }}" alt="{{ review.product.album_title }}">
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' review.product.id %}">
                                    <img class="img-fluid rounded img_wishlist" src="{{ MEDIA_URL }}noimage.png" alt="{{ review.product.album_title }}">
                                </a>
                            {% endif %}
                        </td>
                        {% endif %}
                        <td class="py-3">
                            {% if not hide_image %}
                                <p class="my-0"><strong>{{ review.product.artist.friendly_name }}: {{ review.product.album_title }}</strong></p>
                            {% endif %}
                            <p class="my-0 small"><strong>Title: </strong>{{review.review_title}}</p>
                            <p class="my-0 small"><strong>Comment: </strong>{{review.review_content}}</p>
                            <p class="my-0 small"><strong>Review Rating: </strong>{{review.review_rating}} out of 5</p>
                            <p class="my-0 small"><strong>Date Added: </strong>{{review.created_on}}</p>
                            
                            {% if request.user.is_authenticated and user == review.user %}
                                <small class="mb-2">
                                    <a href="{% url 'edit_review' review.id %}">Edit</a> |
                                    <a href="{% url 'delete_review' review.id %}">Delete</a>
                                </small>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}