{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5"> 
    <div class="row">
        <div class="col-12 mt-3">
            <h3 class="font-weight-bold mt-3">My Reviews</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black"> 
                        <tr>
                            <th scope="col">Album</th>
                            <th scope="col">Review Details</th>
                        </tr>
                    </thead>
                    {% for review in reviews %}
                    <tr>
                        <td class="p-3 w-25">
                            {% if review.product.image %}
                                <a href="{% url 'product_detail' review.product.id %}">
                                    <img class="img-fluid rounded img_wishlist" src="{{ review.product.image.url }}" alt="{{ review.product.album_title }}">
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' review.product.id %}">
                                    <img class="img-fluid rounded img_wishlist" src="{{ MEDIA_URL }}noimage.png" alt="{{ review.product.album_title }}">
                                </a>
                            {% endif %}
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ review.product.artist.friendly_name }}: {{ review.product.album_title }}</strong></p>
                            <p class="my-0 small text-muted">Title:</p>
                            <p class="my-0 small">{{review.review_title}}</p>
                            <p class="my-0 small text-muted">Comment:</p>
                            <p class="my-0 small">{{review.review_content}}</p>
                            <p class="my-0 small text-muted">Date Added:</p>
                            <p class="my-0 small">{{review.created_on}}</p>
                            <small class="mb-2">
                                <a href="{% url 'edit_review' review.id %}">Edit</a> |
                                <a href="{% url 'delete_review' review.id %}">Delete</a>
                            </small>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}