{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container page-top-margin"> 
    <div class="row">
        <div class="col-12 mt-3">
            <h3 class="font-weight-bold mt-3">Wish List</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black"> 
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col" class="d-none d-md-table-cell"></th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    {% for product in wishlist.products.all %}
                    <tr>
                        <td class="p-3 w-25 d-none d-md-table-cell">
                            {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="img-fluid rounded img_wishlist" src="{{ product.image.url }}" alt="{{ product.album_title }}">
                                </a>
                            {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="img-fluid rounded img_wishlist" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.album_title }}">
                                </a>
                            {% endif %}
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ product.artist.friendly_name }}: {{ product.album_title }}</strong></p>
                            <p class="my-0 small text-muted">SKU: {{ product.sku|upper }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>£{{ product.price | calc_saleprice:product.discount_percent }}</strong></p>
                        </td>
                        <td class="py-3">
                            <form class="form update-form" method="POST" action="{% url 'add_to_bag' product.id %}">
                                {% csrf_token %}
                                <input type="hidden" name="quantity" value="1">
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                <button class="btn btn-sm btn-black rounded-0 text-uppercase mb-2">Add to Bag</button>
                            </form>
                            <a href="{% url 'delete_from_wishlist' product.id %}"><button class="btn btn-sm btn-black rounded-0 text-uppercase mb-2">Remove </button></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}