{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5"> 
    <div class="row">
        <div class="col-12 mt-3">
            <h3 class="font-weight-bold mt-3">Wish List</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        {% if wishlist %}
            {% for product in wishlist.products.all %}
            <p>1. {{ product.artist }}</p>
            <p>2. {{ product.album_title }}</p>
            {% endfor %}
        {% else %}
            <p>There are no items in your wishlist</p>
        {% endif %}
    </div>
</div>
{% endblock %}