{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5"> 
    <div class="row">
        <div class="col-12 mt-3">
            <h3 class="font-weight-bold mt-3">Wish List</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black"> 
                        <tr>
                            <th scope="col">Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    {% for product in wishlist.products.all %}
                    <tr>
                        <td class="p-3 w-25">
                            {% if product.image %}
                                <img class="img-fluid rounded" src="{{ product.image.url }}" alt="{{ product.album_title }}">
                            {% else %}
                                <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.album_title }}">
                            {% endif %}
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>{{ product.artist.friendly_name }}: {{ product.album_title }}</strong></p>
                            <p class="my-0 small text-muted">SKU: {{ product.sku|upper }}</p>
                        </td>
                        <td class="py-3">
                            <p class="my-0"><strong>£{{ product.price }}</strong></p>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}