<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font nav-link nav-text-color mr-5" href="#" id="catalogue-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Catalogue <i class="fas fa-caret-down"></i>
            </a>
            <div class="dropdown-menu rounded-0" aria-labelledby="catalogue-link">
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                <a href="{% url 'artist' %}" class="dropdown-item ">By Artist</a>
                <a href="{% url 'genre' %}" class="dropdown-item ">By Genre</a>
                <a href="{% url 'label' %}" class="dropdown-item">By Label</a>
            </div>
        </li>
        <li class="nav-item">
            <a href="{% url 'products' %}?new_in" class="logo-font nav-link nav-text-color mr-5">New In</a>
        </li>
        <li class="nav-item">
            <a href="{% url 'products' %}?on_sale" class="logo-font nav-link nav-text-color mr-5">On Sale</a>
        </li> 
    </ul>
</div>