{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container page-top-margin"> 
    <div class="row">
        <div class="col-12 mt-3">
            <h3 class="font-weight-bold mt-3">Grading Guide</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <p>All records listed are graded using the standard UK Record Collecotor Magazine grading system.</p>
            <p>Vinyl Rack only lists items for sale that are Good to Mint condition.</p>
            <hr>
            <h5>Mint(M)</h5>
            <p>The record/disc is in brand new condition with no surface marks or deteioration in sound quality. The cover and any extra items such as the lyric sheet. booklet or poster are in perfect condition.</p>
            <h5>Excellent(Ex)</h5>
            <p>The record shows some signs of having been played, but there is very little lessening in sound quality. The cover and packaging might have slight wear and/or creasing.</p>
            <h5>Very Good(Vg)</h5>
            <p>The record has obviously been played many times, but displays no major deterioration in sound quality, despite noticeable surface marks and the occasional light scratch. Normal wear and tear on the cover or extra items, without any major defects is acceptable.</p>
            <h5>Good(Gd)</h5>
            <p>The record has been played so much that the sound quality has noticeably deteriorated, perhaps with some distortion and mild scratches. The cover and contents suffer from folding, scuffing of edges, spine splits, discolouration, etc</p>
            <h5>Fair(F)</h5>
            <p>The record is still just playable but has not been cared for properly and displays considerable surface noise: it may even jump. The cover and contents will be badly damaged or partly missing.</p>
            <h5>Poor(P)</h5>
            <p>The record will not play properly due to scratches, bad surface noise etc.. The cover and contents will be badly damaged or partly missing.</p>
            <h5>Bad(B)</h5>
            <p>The record is unplayable or might even be broken, and is only of use as a collection filler.</p>
        </div>
    </div>
</div>
{% endblock %}