{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container page-top-margin"> 
    <div class="row">
        <div class="col-12 mt-3">
            <h3 class="font-weight-bold mt-3">404 Error - Page Not Found</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <p>The page you requested could not be found. Please enter the correct URL or return to the home page using the button below.</p>
            <a class="btn btn-black rounded-0 text-uppercase" aria-label="Return Home" href="{% url 'home' %}" >Home</a>
        </div>
    </div>
</div>
{% endblock %}