{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container page-top-margin">
    <div class="row">
        <div class="col-12">
            <h3 class="font-weight-bold mt-3">Genres</h3>
        </div>
    </div>
    <hr>
    <div class="row">
        {% for genre in genres %}
            <div class="col-sm-12 col-md-6 col-xl-3">
                <a href="{% url 'products' %}?genre={{ genre.name }}">
                    <p class="text-black uppercase">{{ genre.friendly_name }}</p>
                </a>
            
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}